version: "3.9"

services:
  db:
    image: mariadb:11
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: rootpassword
      MARIADB_DATABASE: users_db
      MARIADB_USER: user
      MARIADB_PASSWORD: password
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql


  api:
    build: .
    depends_on:
      - db 
    environment:
      DATABASE_URL: "mysql+pymysql://user:password@db:3306/users_db"
    command: ["sh", "-c", "sleep 15 && uvicorn app.main:app --host 0.0.0.0 --port 8000"]
    ports:
      - "8000:8000"
      

volumes:
  db_data:
